* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
.broadcast.error {
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  border-radius: 2px;
  text-align: center;
  background: #fde1df;
  color: #f44336;
  overflow: hidden;
}
.login-wrapper form .mui-btn {
  width: 120px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
.overlay .popin {
  width: 400px;
  padding: 50px;
}
.song {
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  color: #fff;
  background: #111;
  z-index: 1;
}
header h2 {
  margin: 0;
}
header .fa {
  font-size: 20px;
  padding: 8px;
}
#logout {
  cursor: pointer;
  color: #999;
}
#logout:hover,
#logout:focus {
  color: #fff;
}
section.middle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
section.middle aside {
  width: 25%;
  height: 100%;
  float: left;
}
#content {
  float: left;
  position: relative;
  height: 100%;
  width: 75%;
  overflow-y: scroll;
  padding: 20px;
}
#users {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #e5e5e5;
}
#users .user {
  padding: 15px 20px;
  border-bottom: 1px #f5f5f5 solid;
}
#users .user.admin {
  color: #2196f3;
}
#users .user.me {
  background: #f5f5f5;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 1;
}
footer #chat {
  padding: 14px 20px;
}
footer #chat .left-message {
  display: block;
  margin-right: 120px;
}
footer #chat input {
  display: block;
  width: 100%;
  padding: 10px;
}
footer #chat button {
  float: right;
  margin: 0;
  width: 100px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages .message {
  position: relative;
  padding: 10px 15px;
  margin: 16px 40% 16px 0;
}
#messages .message.me {
  margin-right: 0;
  margin-left: 40%;
  background: #f5f5f5;
}
#messages .message.me:after,
#messages .message.me:before {
  left: 90%;
}
#messages .message.me:after {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f5f5f5;
}
#messages .message.admin {
  color: #fff;
  background: #2196f3;
}
#messages .message.admin:after {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #2196f3;
}
#messages .message.error {
  color: #f44336;
  background: #fde1df;
}
#messages .message.error:after,
#messages .message.error:before {
  content: none;
}
#messages .message .user {
  display: block;
  font-weight: bold;
}
#messages .message:after,
#messages .message:before {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#messages .message:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
#messages .message:before {
  border-color: rgba(225, 225, 225, 0);
  border-top-color: #E1E1E1;
  border-width: 13px;
  margin-left: -13px;
}
#messages .diceroll {
  margin: 50px auto;
  width: 180px;
  padding: 30px;
  text-align: center;
}
#messages .diceroll.me {
  background: #f5f5f5;
}
#messages .diceroll.admin {
  background: #2196f3;
}
#messages .diceroll.admin .user,
#messages .diceroll.admin .dice-original,
#messages .diceroll.admin .dice-total {
  color: #fff;
}
#messages .diceroll.admin .dice-detail {
  color: rgba(255, 255, 255, 0.8);
}
#messages .diceroll .user {
  display: block;
  font-weight: bold;
}
#messages .diceroll .dice-total {
  display: block;
}
#dices {
  overflow: hidden;
  float: left;
  background: #444;
  padding: 10px 5px 10px 10px;
}
.dices-0 {
  display: none;
}
.dices-1 {
  width: 60px;
}
.dices-1 + #chat {
  margin-left: 60px;
}
.dices-2 {
  width: 105px;
}
.dices-2 + #chat {
  margin-left: 105px;
}
.dices-3 {
  width: 150px;
}
.dices-3 + #chat {
  margin-left: 150px;
}
.dice {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #000;
  cursor: pointer;
  font-size: 10px;
}
.dice.d6 {
  background: url("icons/d6.svg") no-repeat center;
}
.dice.d8 {
  background: url("icons/d8.svg") no-repeat center;
}
.dice.d10 {
  background: url("icons/d10.svg") no-repeat center;
}
.dice.d12 {
  background: url("icons/d12.svg") no-repeat center;
}
.dice.d20 {
  background: url("icons/d20.svg") no-repeat center;
}
.dice.d100 {
  background: url("icons/d10.svg") no-repeat center;
}
.dice:hover {
  color: #2196f3;
}
.volume-controls {
  float: left;
  margin: 0 16px 0 8px;
}
#play {
  display: none;
  float: left;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #fff;
}
#play:hover {
  color: #2196f3;
}
.audio-controls {
  float: right;
}
.audio-volume {
  position: relative;
  display: block;
  float: right;
  width: 30px;
  height: 6px;
  margin: 15px 0;
  line-height: 30px;
  vertical-align: top;
  background: #666;
  cursor: pointer;
}
.audio-volume-bar {
  display: block;
  height: 100%;
  width: 100%;
  background: #2196f3;
}
.admin-layout section.middle {
  padding-top: 90px;
}
.admin-layout #music-player {
  position: fixed;
  top: 60px;
  height: 30px;
  width: 100%;
  background: #666;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.admin-layout #play {
  display: block;
}
.music-selector li {
  cursor: pointer;
}
.music-selector li:hover {
  color: #2196f3;
}
.centerer {
  text-align: center;
  white-space: nowrap;
}
.centerer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  width: 300px;
}
