* {
  box-sizing: border-box;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body,
html {
  margin: 0;
  padding: 0;
}
.broadcast.error {
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  border-radius: 2px;
  text-align: center;
  background: #fde1df;
  color: #f44336;
  overflow: hidden;
}
body,
html {
  margin: 0;
  overflow: hidden;
}
#dice-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
.login-wrapper form .mui-btn {
  width: 120px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  overflow: auto;
}
.overlay .popin {
  max-width: 400px;
  padding: 50px;
  margin: 20px;
}
.overlay .image {
  text-align: center;
  padding: 20px;
}
.overlay .image img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.link {
  cursor: pointer;
}
.link:hover {
  color: #2196f3;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 10px;
  color: #fff;
  background: #111;
  z-index: 1;
}
header h2 {
  margin: 0;
}
header .fa {
  font-size: 20px;
  padding: 8px;
}
#logout {
  cursor: pointer;
  color: #999;
}
#logout:hover,
#logout:focus {
  color: #fff;
}
section.middle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
section.middle aside {
  width: 240px;
  height: 100%;
  float: left;
}
#content {
  position: relative;
  height: 100%;
  margin-left: 240px;
  overflow-y: scroll;
  padding: 20px;
}
#users {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #e5e5e5;
}
#users .user {
  position: relative;
  padding: 15px 10px;
  border-bottom: 1px #f5f5f5 solid;
  height: 51px;
}
#users .user.admin {
  color: #2196f3;
}
#users .user.me {
  background: #f5f5f5;
}
#users .user.typing:after {
  content: "\f27b";
  display: inline-block;
  margin-left: 5px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#users .user-dice {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}
#users .user-dice .dice-original {
  display: block;
  font-size: 10px;
  line-height: 14px;
}
#users .user-dice .dice-total {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: inherit;
}
#users .user-dice .dice-detail {
  display: none;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 1;
}
footer #chat {
  padding: 14px 20px;
}
footer #chat .left-message {
  display: block;
  margin-right: 120px;
}
footer #chat input {
  display: block;
  width: 100%;
  padding: 10px;
}
footer #chat button {
  float: right;
  margin: 0;
  width: 100px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages .message {
  position: relative;
  padding: 10px 15px;
  margin: 16px 40% 16px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#messages .message.me {
  margin-right: 0;
  margin-left: 40%;
  background: #f5f5f5;
}
#messages .message.me:after,
#messages .message.me:before {
  left: 90%;
}
#messages .message.me:after {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f5f5f5;
}
#messages .message.admin {
  color: #fff;
  background: #2196f3;
}
#messages .message.admin a {
  color: #fff;
}
#messages .message.admin:after {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #2196f3;
}
#messages .message.error {
  color: #f44336;
  background: #fde1df;
}
#messages .message.error:after,
#messages .message.error:before {
  content: none;
}
#messages .message.warning {
  color: #998400;
  background: #fff8cc;
}
#messages .message.warning:after,
#messages .message.warning:before {
  content: none;
}
#messages .message.prive {
  opacity: 0.5;
}
#messages .message.prive:hover {
  opacity: 1;
}
#messages .message .user {
  display: block;
  font-weight: bold;
}
#messages .message img {
  max-width: 100%;
  margin: 10px 0;
}
#messages .message:after,
#messages .message:before {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#messages .message:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
#messages .message:before {
  border-color: rgba(225, 225, 225, 0);
  border-top-color: #E1E1E1;
  border-width: 13px;
  margin-left: -13px;
}
#messages .diceroll {
  margin: 24px auto;
  width: 180px;
  padding: 16px;
  text-align: center;
}
#messages .diceroll.me {
  background: #f5f5f5;
}
#messages .diceroll.admin {
  background: #2196f3;
}
#messages .diceroll.admin .user,
#messages .diceroll.admin .dice-original,
#messages .diceroll.admin .dice-total {
  color: #fff;
}
#messages .diceroll.admin .dice-detail {
  color: rgba(255, 255, 255, 0.8);
}
#messages .diceroll.prive {
  opacity: 0.5;
}
#messages .diceroll.prive:hover {
  opacity: 1;
}
#messages .diceroll .user {
  font-weight: bold;
}
#messages .diceroll .dice-total {
  display: block;
  font-size: 28px;
  line-height: 36px;
}
#dices {
  overflow: hidden;
  float: left;
  background: #444;
  padding: 10px 5px 10px 10px;
}
.dices-0 {
  display: none;
}
.dices-1 {
  width: 60px;
}
.dices-1 + #chat {
  margin-left: 60px;
}
.dices-2 {
  width: 105px;
}
.dices-2 + #chat {
  margin-left: 105px;
}
.dices-3 {
  width: 150px;
}
.dices-3 + #chat {
  margin-left: 150px;
}
.dices-4 {
  width: 195px;
}
.dices-4 + #chat {
  margin-left: 195px;
}
.dices-5 {
  width: 240px;
}
.dices-5 + #chat {
  margin-left: 240px;
}
.dice {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #000;
  cursor: pointer;
  font-size: 10px;
  transition: all 0.5s ease;
  opacity: 1;
}
.dice.d6 {
  background: url("icons/d6.svg") no-repeat center;
}
.dice.d8 {
  background: url("icons/d8.svg") no-repeat center;
}
.dice.d10 {
  background: url("icons/d10.svg") no-repeat center;
}
.dice.d12 {
  background: url("icons/d12.svg") no-repeat center;
}
.dice.d20 {
  background: url("icons/d20.svg") no-repeat center;
}
.dice.d100 {
  background: url("icons/d10.svg") no-repeat center;
}
.dice:hover {
  color: #2196f3;
}
.dice.cooldown {
  cursor: default;
  opacity: 0.3;
}
.dice.cooldown:hover {
  color: #fff;
}
.music-selector h4 {
  position: relative;
  margin: 0;
  padding-left: 20px;
  line-height: 26px;
}
.music-selector ul {
  position: relative;
  padding-left: 0;
  list-style: none;
}
.music-selector li {
  position: relative;
  line-height: 26px;
  padding-left: 20px;
}
.music-selector .list:hover .icon-play {
  opacity: 1;
}
.music-selector .popin {
  position: static !important;
}
.music-selector .icon-play {
  position: absolute;
  font-size: 10px;
  padding: 8px;
  right: 0;
  transition: all 0.6s ease;
  opacity: 0;
}
.music-selector .volet-btn {
  position: absolute;
  top: 0;
  line-height: 25px;
  width: 20px;
  text-align: center;
  z-index: 1;
}
.music-selector .volet-content {
  display: none;
}
.music-selector .volet-checkbox {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  height: 0;
  width: 0;
}
.music-selector .volet-checkbox:checked + label:before {
  content: "\f0d7";
}
.music-selector .volet-checkbox:checked + label + .volet-content {
  display: block;
}
.music-selector-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  color: #fff;
}
.volume-controls {
  float: left;
  margin: 0 16px 0 8px;
}
#play {
  display: none;
  float: left;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #fff;
}
#play:hover {
  color: #2196f3;
}
#mute {
  width: 34px;
  cursor: pointer;
  color: #fff;
}
#mute:hover {
  color: #2196f3;
}
.audio-controls {
  float: right;
}
.audio-volume {
  position: relative;
  display: block;
  float: right;
  width: 50px;
  height: 36px;
  padding: 15px 0;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}
.audio-volume-empty {
  display: block;
  height: 100%;
  width: 100%;
  background: #666;
}
.audio-volume-bar {
  display: block;
  height: 100%;
  width: 100%;
  background: #2196f3;
}
.admin-layout section.middle {
  padding-top: 90px;
}
.admin-layout #music-player {
  position: fixed;
  top: 60px;
  height: 30px;
  width: 100%;
  background: #666;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.admin-layout #play {
  display: block;
}
.centerer {
  text-align: center;
  white-space: nowrap;
}
.centerer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.closable {
  cursor: crosshair;
}
@media screen and (max-width: 42em) {
  .overlay .popin {
    position: relative;
    padding: 30px;
  }
  .login-wrapper form .mui-btn {
    width: 50%;
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  section.middle aside {
    width: 195px;
  }
  #content {
    margin-left: 195px;
  }
}
@media screen and (max-width: 935px) {
  section.middle aside {
    width: 150px;
  }
  #content {
    margin-left: 150px;
  }
}
@media screen and (max-width: 670px) {
  section.middle aside {
    width: 25%;
  }
  #content {
    margin-left: 25%;
  }
}
